@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --ff-primary: "Roboto", sans-serif;
    --clr-primary: #FFD300;
    --clr-neutral: #fff;
    --clr-secondary: #323232;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img {
    margin: 0;
    box-sizing: border-boxs;
}

body {
    font-family: var(--ff-primary);
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}

.btn {
    border-radius: 50px;
    border: 2px solid;
    padding: 0.5rem;
    padding-inline: 1.2rem;
}

.btn-primary {
    color: var(--clr-neutral);
    background: var(--clr-primary);
}

.btn-neutral {
    background: var(--clr-neutral);
    color: var(--clr-primary);
}

.container {
    margin: 0 auto;
    width: min(95%, 82rem);
}
.split {
    display: flex;
}

/* *Header  */
header .split {
    justify-content: space-between;
}

header ul {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

header h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

header a {
    font-size: 1.2em;
}